<div class="card mx-4 my-4">

    <div class="card-header">
      <ul class="nav nav-pills card-header-pills">
        <li class="nav-item mr-2" *ngIf="!connected">
          <input type="text" [(ngModel)]="message.username" class="form-control" placeholder="Tu Username..." name="username">
        </li>
        <li class="nav-item mr-2">
          <button class="btn btn-success" type="button" (click)="connect()"
          *ngIf="!connected" [disabled]="!message.username">Conectar</button>
        </li>
        <li class="nav-item">
          <button class="btn btn-warning" type="button" (click)="disconnect()"
          *ngIf="connected">Cerrar Chat</button>
        </li>
      </ul>
    </div>
  
    <div #scrollChat [scrollTop]="scrollChat.scrollHeight" class="card-body" style="overflow-y: scroll; height: 360px;"
      *ngIf="connected">
      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-light" *ngFor="let m of messages">
          <span *ngIf="m.type == 'LOGIN'" >
            <span [ngStyle]="{'color': m.color}">{{m.username}}</span>
          </span>
          <span *ngIf="m.type == 'MESSAGE'">
            {{m.time | date:'shortTime'}}
            <span [ngStyle]="{'color': m.color}">{{m.username}}</span> dice:<br> {{m.text}}
          </span>
        </li>
      </ul>
    </div>
  
    <div class="card-footer" *ngIf="connected">
      <form class="form-inline">
        <div class="form-group mx-3">
          <input type="text" [(ngModel)]="message.text" class="form-control" placeholder="Escribe un mensaje..." name="texto"
          (keyup)="writingEvent()">
        </div>
        <button class="btn btn-primary" type="submit" (click)="sendMessage()">Enviar</button>
      </form>
      <div>{{userWriting}}</div>
    </div>
  </div>
  